@use "./variables.scss" as *;

:root {
  --background: #{$background-light};
  --foreground: #{$text-light};
  --primary: #{$primary};
  --background-translucent: #{rgba($background-alternate, 0.8)};
  --foreground-translucent: #{rgba($text-light, 0.8)};
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #{$background-dark};
    --foreground: #{$text-dark};
    --primary: #{$primary};
    --background-translucent: #{rgba($background-light, 1)};
    --foreground-translucent: #{rgba($text-dark, 0.8)};
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-display;
  transition: background-color 0.3s, color 0.3s;
}

a {
  text-decoration: none;
  color: inherit;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1.25rem 1rem;

  @include mq(sm) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @include mq(md) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @include mq(lg) {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
  }
}

.section {
  padding-top: 4rem;
  padding-bottom: 4rem;

  .section-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.015em;
    padding: 1.25rem 1rem 0.75rem;
  }
}

// Colors
// $primary: #2b6cee;
// $background-light: #f9f9f9;
// $background-dark: #171717;
// $text-light: #111318;
// $text-dark: #f0f2f4;
