@import "../../../styles/_mixins.scss";

.sidebar {
  padding: 2rem;
  z-index: 20;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: $sidebar-width-lg;
}

// @media (min-width: 768px) {
//   .sidebar {
//     position: fixed;
//     height: 100vh;
//   }
// }
// @media (min-width: 1024px) {
//   .sidebar {
//     width: 25%;
//   }
// }

/* Mobile Sticky Header Simulation */
// @media (max-width: 767px) {
//   .sidebar {
//     position: sticky;
//     top: 0;
//     z-index: 20;
//     flex-direction: column;
//     height: auto !important;
//   }
// }

// .sidebar-content {
//   flex-grow: 1;
// }

// .side-layout {
//   display: flex;
//   flex-direction: column;
// }

// .sidebar-old {
//   position: fixed;
// }

// .side-layout,
// .sidebar-old {
//   width: 400px;
//   flex: 0 0 400px;
// }
