@import url("@/styles/variables.scss");

.timeline {
  margin-left: 0.5rem;
  position: relative;
  padding: 0 2rem;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.skill-tag {
  background-color: var(--color-border);
  color: var(--color-text-medium);
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.25rem 0.75rem;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db; /* Gray 300 */
}
