---
import Layout from '@/layouts/Layout.astro';
import ExperienceComponent from '@/components/Experience.astro';
import experiences from '@/data/experiences.json';
import education from '@/data/education.json';
import styles from '@/data/styles.json';

const pagePayload = {
  preHeading: "Hi, I'm Sean",
  title: 'Experience',
  description:
    "A chronological overview of my professional career, the roles I've held, and the technical expertise I've cultivated along the way.",
};
---

<Layout {...pagePayload}>
  <section class={`${styles.container} py-16`}>
    <ExperienceComponent title="Work History" experiences={experiences} />
    <ExperienceComponent title="Education" experiences={education} />
  </section>
</Layout>
