---
interface Props {
  name: string;
  icon: string;
}

const { icon, name } = Astro.props;
---

<div
  class="border-tool-border bg-tool rounded-xl border p-4 text-center transition-all duration-300 hover:-translate-y-1"
>
  <span class="material-symbols-outlined mb-2 text-3xl">{icon}</span>
  <div class="text-sm font-medium">{name}</div>
</div>
