---
import Icon from '@/components/atoms/Icon.astro';

interface Props {
  name: string;
  icon: string;
}

const { icon, name } = Astro.props;
---

<div
  class="md:border-tool-border md:bg-tool rounded-xl p-4 text-center transition-all duration-300 hover:-translate-y-1 md:border"
>
  <Icon name={icon} class="mx-auto" />
  <div class="text-sm font-medium">{name}</div>
</div>
