@import "@/styles/variables.scss";

.project-card {
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
  background-color: var(--background-card);
  margin-bottom: 2rem;
  &-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    &_tag {
      font-size: 0.75rem;
      font-weight: 500;
      background-color: var(--color-primary-light);
      color: var(--color-primary);
      padding: 0.25rem 0.75rem;
      border-radius: 9999px;
    }
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.05);
  }
}

.project-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-text-dark);
  margin-bottom: 0.5rem;
}
.project-description {
  color: var(--color-text-medium);
  margin-bottom: 0.75rem;
}
